.whole-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .camera-box {
    position: relative;
  }
  
  .camera_text {
    text-transform: uppercase;
    margin-top: -10px;
    margin-left: -20px;
    color: white;
    font-size: 22px;
  }
  
  #camera {
    width: 358px;
    height: 324px;
  }
  