.bg-color {
  background: #f7f7f7;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.language-selector {
  display: flex;
  align-items: center;
  color: #333;
  background: #e6e6e6;
  justify-content: flex-end;
  padding-right: 40px;
  padding-top: 20px;
  cursor: pointer;
  align-content: center;
  select {
    outline: none;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #333;
  }
}

.language-selector .text {
  font-size: 16px;
  margin-right: 10px;
}

.lang-list-box {
  display: none;
  background-color: #6368ed;
  width: 170px;
  height: 96px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 60px;
}

.lang-list-box p {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 4px;
}

.loginbox-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 400px;
  margin: 0 auto;
  height: auto;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  gap: 30px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

 .inputContainer{
    // border: solid 2px red;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
   }

  h1,
  h3 {
    color: #333;
  }

  h1{
    font-size: 30px;
  }
}

.form-label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}

input {
  width: calc(100% - 40px);
  height: 48px;
  padding: 0 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  font-size: 16px;
  transition: border-color 0.2s;
  background-color: #fff;
  outline: none;
  color: #000;

  &:focus {
    border-color: #6368ed;
  }
}

.loginbtn {
  width: calc(100% - 40px);
  background: #6368ed;
  color: #fff;
  border-radius: 8px;
  height: 50px;
  font-size: 16px;
  margin-top: 25px;
  transition: background-color 0.2s, box-shadow 0.2s;

  &:hover {
    background-color: darken(#6368ed, 10%);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    outline: none;
  }
}

.forgotandcreate {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 40px);
  font-size: 14px;
  align-items: flex-end;
}

.forgot-pas a,
.create-acc a {
  color: #6368ed;
  text-decoration: none;
  text-align: end;
}

@media screen and (max-width: 768px) {
  .loginbox-bg {
    padding: 20px;
  }
}
