$border-color: #aaa9ad; // Border color
$border-radius: 20px; // Border radius
$background-color-sent: #cf1e1e; // Background color for sent messages
$background-color-received: #535695; // Background color for received messages
$text-color-sent: #fff; // Text color for sent messages
$text-color-received: #000; // Text color for received messages
$text-color-timestamp: #000; // Text color for timestamps
$padding-size: 1em; // Padding size
$message-width: 20%; // Message width

.chat-container {
    display: flex;
    flex-direction: column;
    border: 1px solid $border-color;
    height: 100%;
    border-radius: $border-radius;
    padding: $padding-size;
    margin-left: 10px;

    .messages-list {
        flex-grow: 1;
        overflow-y: auto;
        max-height: 500px;

        .message-item {
            margin: 0.5em;
            padding: 0.5em;
            border-radius: 10px;
            color: red;

            &.sent {
                background-color: $background-color-sent;
                align-self: flex-end;
                width: $message-width;
                color: $text-color-sent;
            }

            &.received {
                background-color: $background-color-received;
                align-self: flex-start;
                padding: 0.5em;
                width: $message-width;
                color: $text-color-sent;
            }

            .timestamp {
                display: block;
                text-align: right;
                color: $text-color-timestamp;
            }
        }
    }

    .message-input {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: $padding-size;
        gap: 20px;
        margin: $padding-size;

        input {
            flex-grow: 1;
        }

        .sendMessage {
            background-color: $background-color-sent;
            color: $text-color-sent;
            width: $message-width;
            padding: 0.5em;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: darken($background-color-sent, 10%);
            }
        }
    }
}
