.history-container{
    border: solid 3px blue;
    border-radius: 10px;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    nav{
        // border: solid 3px green;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a{
            border: solid 2px fuchsia;
            padding: 1em;
            border-radius: 10px;
        }
    }

    .work-history-list{
        border: solid 2px red;
        border-radius: 10px;
        height: 80%;
        overflow-y: auto;
        color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}