// Cleaner History styles

.cleaner-history{
    height: 20%;
    margin: 10px;
    width: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}