// Cleaner History styles

.cleaner-history{
    height: 20%;
    margin: 10px;
    width: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .cleaner-name{
        border: solid 2px lime;
        width: 70%;
        padding: 1em;
    }
    .view-history-button{
        width: 20%;
        border: solid 2px lightblue;
        text-align: center;
        padding: 1em;
    }
    span{
        border-radius: 10px;
    }
}