.div {
    background-color: var(--Grey-50, #f9fafb);
    padding-bottom: 43px;
}


.div-33 {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    flex-direction: column;
    padding: 0 48px;
}

@media (max-width: 991px) {
    .div-33 {
        max-width: 100%;
        padding: 0 20px;
    }
}

.div-34 {
    color: #36f;
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    letter-spacing: -0.48px;
    align-self: start;
    font: 600 24px/120% Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
}

@media (max-width: 991px) {
    .div-34 {
        max-width: 100%;
    }
}

.div-35 {
    color: #475367;
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    align-self: start;
    margin-top: 4px;
    font: 400 16px/145% Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
}

@media (max-width: 991px) {
    .div-35 {
        max-width: 100%;
    }
}

.div-36 {
    border-radius: 6px;
    background-color: #f5f5f5;
    display: flex;
    margin-top: 24px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.08px;
    line-height: 112.5%;
    padding: 2px 0 2px 80px;
}

@media (max-width: 991px) {
    .div-36 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-left: 20px;
    }
}

.div-37 {
    color: var(--Foundation-White-Darker, #595959);
    font-family: SF Pro Text, sans-serif;
    font-weight: 400;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
}

.div-38 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-38 {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.div-39 {
    color: var(--Foundation-White-Darker, #595959);
    font-family: SF Pro Text, sans-serif;
    font-weight: 400;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
}

.div-40 {
    font-family: SF Pro Text, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background-color: var(--System-Colours-System-Backgrounds-Primary-Light,
            #fff);
    flex-grow: 1;
    color: var(--Foundation-Blue-Normal, #36f);
    font-weight: 500;
    white-space: nowrap;
    padding: 17px 60px;
}

@media (max-width: 991px) {
    .div-40 {
        white-space: initial;
        padding: 0 20px;
    }
}

.div-41 {
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(16, 25, 40, 0.05),
        0px 2px 7px 0px rgba(16, 25, 40, 0.05),
        0px 2px 5px -2px rgba(16, 25, 40, 0.06);
    background-color: var(--Shade-White, #fff);
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    color: #36f;
    min-width: 108%;
    line-height: 120%;
    padding: 19px 80px 31px 16px;
}

@media (max-width: 991px) {
    .div-41 {
        max-width: 100%;
        padding-right: 20px;
    }
}

.div-42 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    letter-spacing: -0.32px;
    align-self: start;
    font: 500 16px Inter, sans-serif;
}

@media (max-width: 991px) {
    .div-42 {
        max-width: 100%;
    }
}

.div-43 {
    display: flex;
    flex-direction: column;
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    position: relative;
    overflow: hidden;
    align-self: center;
    margin-top: 10px;
    width: 311px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    letter-spacing: -0.4px;
    padding: 147px 60px 119px;
    font: 600 20px Inter, sans-serif;
}

@media (max-width: 991px) {
    .div-43 {
        white-space: initial;
        padding: 40px 20px;
    }
}

.img-13 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.div-44 {
    position: relative;
}

.div-45 {
    margin-top: 24px;
}

@media (max-width: 991px) {
    .div-45 {
        max-width: 100%;
    }
}

.div-46 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-46 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-3 {
        width: 100%;
    }
}

.div-47 {
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(16, 25, 40, 0.05),
        0px 2px 7px 0px rgba(16, 25, 40, 0.05),
        0px 2px 5px -2px rgba(16, 25, 40, 0.06);
    background-color: var(--Shade-White, #fff);
    display: flex;
    text-decoration: none !important;
    color: inherit;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    line-height: 120%;
    width: 100%;
    padding: 20px 0;
}

@media (max-width: 991px) {
    .div-47 {
        margin-top: 29px;
    }
}

.img-14 {
    aspect-ratio: 1.75;
    object-fit: auto;
    object-position: center;
    width: 306px;
    border-radius: 50%;
    max-width: 100%;
}

.div-48 {
    color: #36f;
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    letter-spacing: -0.4px;
    margin-top: 32px;
    white-space: nowrap;
    font: 600 20px Inter, sans-serif;
    text-decoration: none;
    text-decoration-color: none;
}

@media (max-width: 991px) {
    .div-48 {
        white-space: initial;
    }
}

.div-49 {
    align-self: stretch;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    color: var(--Foundation-White-Darker, #595959);
    font-weight: 500;
    padding: 0 16px;
}

.div-50 {
    display: flex;
    width: 100%;
    padding-right: 13px;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    font-size: 12px;
    white-space: nowrap;
    letter-spacing: -0.24px;
}

@media (max-width: 991px) {
    .div-50 {
        white-space: initial;
    }
}

.div-51 {
    display: flex;
    gap: 12px;
}

@media (max-width: 991px) {
    .div-51 {
        white-space: initial;
    }
}

.div-52 {
    background-color: #ed4634;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.div-53 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
}

.div-54 {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

@media (max-width: 991px) {
    .div-54 {
        white-space: initial;
    }
}

.div-55 {
    background-color: #ffea3d;
    border-radius: 50%;
    align-self: start;
    width: 10px;
    height: 10px;
}

.div-56 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
}

.div-57 {
    display: flex;
    gap: 12px;
}

@media (max-width: 991px) {
    .div-57 {
        white-space: initial;
    }
}

.div-58 {
    background-color: #8ac446;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.div-59 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
}

.div-60 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    letter-spacing: -0.3px;
    margin-top: 36px;
    font: 600 15px Inter, sans-serif;
}

.div-61 {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    gap: 20px;
    font-size: 14px;
    color: var(--Foundation-Blue-Normal, #36f);
    white-space: nowrap;
    letter-spacing: -0.28px;
}

@media (max-width: 991px) {
    .div-61 {
        white-space: initial;
    }
}

.div-62 {
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-62 {
        white-space: initial;
    }
}

.div-63 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
}

.div-64 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 37px;
}

.div-65 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 34px;
}

.div-66 {
    color: var(--Foundation-White-Darker, #595959);
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    letter-spacing: -0.3px;
    margin-top: 38px;
    font: 600 15px Inter, sans-serif;
}

@media (max-width: 991px) {
    .div-66 {
        white-space: initial;
    }
}

.div-67 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 25px;
}

.div-68 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 37px;
}

.div-69 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 34px;
}

.div-70 {
    display: flex;
    flex-direction: column;
    text-align: right;
}

@media (max-width: 991px) {
    .div-70 {
        white-space: initial;
    }
}

.div-71 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
}

@media (max-width: 991px) {
    .div-71 {
        white-space: initial;
    }
}

.div-72 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 36px;
}

@media (max-width: 991px) {
    .div-72 {
        white-space: initial;
    }
}

.div-73 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 36px;
}

@media (max-width: 991px) {
    .div-73 {
        white-space: initial;
    }
}

.div-74 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 73px;
}

@media (max-width: 991px) {
    .div-74 {
        margin-top: 40px;
        white-space: initial;
    }
}

.div-75 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 36px;
}

@media (max-width: 991px) {
    .div-75 {
        white-space: initial;
    }
}

.div-76 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 36px;
}

@media (max-width: 991px) {
    .div-76 {
        white-space: initial;
    }
}

.column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-4 {
        width: 100%;
    }
}

.div-77 {
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(16, 25, 40, 0.05),
        0px 2px 7px 0px rgba(16, 25, 40, 0.05),
        0px 2px 5px -2px rgba(16, 25, 40, 0.06);
    background-color: var(--Shade-White, #fff);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    line-height: 120%;
    width: 100%;
    padding: 20px 0;
}

@media (max-width: 991px) {
    .div-77 {
        margin-top: 29px;
    }
}

.img-15 {
    aspect-ratio: 1.75;
    object-fit: auto;
    object-position: center;
    width: 306px;
    border-radius: 50%;
    max-width: 100%;
}

.div-78 {
    color: #36f;
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    letter-spacing: -0.4px;
    margin-top: 32px;
    white-space: nowrap;
    font: 600 20px Inter, sans-serif;
}

@media (max-width: 991px) {
    .div-78 {
        white-space: initial;
    }
}

.div-79 {
    align-self: stretch;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    color: var(--Foundation-White-Darker, #595959);
    font-weight: 500;
    padding: 0 16px;
}

.div-80 {
    display: flex;
    width: 100%;
    padding-right: 13px;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    font-size: 12px;
    white-space: nowrap;
    letter-spacing: -0.24px;
}

@media (max-width: 991px) {
    .div-80 {
        white-space: initial;
    }
}

.div-81 {
    display: flex;
    gap: 12px;
}

@media (max-width: 991px) {
    .div-81 {
        white-space: initial;
    }
}

.div-82 {
    background-color: #ed4634;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.div-83 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
}

.div-84 {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

@media (max-width: 991px) {
    .div-84 {
        white-space: initial;
    }
}

.div-85 {
    background-color: #ffea3d;
    border-radius: 50%;
    align-self: start;
    width: 10px;
    height: 10px;
}

.div-86 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
}

.div-87 {
    display: flex;
    gap: 12px;
}

@media (max-width: 991px) {
    .div-87 {
        white-space: initial;
    }
}

.div-88 {
    background-color: #8ac446;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.div-89 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
}

.div-90 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    letter-spacing: -0.3px;
    margin-top: 36px;
    font: 600 15px Inter, sans-serif;
}

.div-91 {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    gap: 20px;
    font-size: 14px;
    color: var(--Foundation-Blue-Normal, #36f);
    white-space: nowrap;
    letter-spacing: -0.28px;
}

@media (max-width: 991px) {
    .div-91 {
        white-space: initial;
    }
}

.div-92 {
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-92 {
        white-space: initial;
    }
}

.div-93 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
}

.div-94 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 37px;
}

.div-95 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 34px;
}

.div-96 {
    color: var(--Foundation-White-Darker, #595959);
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    letter-spacing: -0.3px;
    margin-top: 38px;
    font: 600 15px Inter, sans-serif;
}

@media (max-width: 991px) {
    .div-96 {
        white-space: initial;
    }
}

.div-97 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 25px;
}

.div-98 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 37px;
}

.div-99 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 34px;
}

.div-100 {
    display: flex;
    flex-direction: column;
    text-align: right;
}

@media (max-width: 991px) {
    .div-100 {
        white-space: initial;
    }
}

.div-101 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
}

@media (max-width: 991px) {
    .div-101 {
        white-space: initial;
    }
}

.div-102 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 36px;
}

@media (max-width: 991px) {
    .div-102 {
        white-space: initial;
    }
}

.div-103 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 36px;
}

@media (max-width: 991px) {
    .div-103 {
        white-space: initial;
    }
}

.div-104 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 73px;
}

@media (max-width: 991px) {
    .div-104 {
        margin-top: 40px;
        white-space: initial;
    }
}

.div-105 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 36px;
}

@media (max-width: 991px) {
    .div-105 {
        white-space: initial;
    }
}

.div-106 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 36px;
}

@media (max-width: 991px) {
    .div-106 {
        white-space: initial;
    }
}

.column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-5 {
        width: 100%;
    }
}

.div-107 {
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(16, 25, 40, 0.05),
        0px 2px 7px 0px rgba(16, 25, 40, 0.05),
        0px 2px 5px -2px rgba(16, 25, 40, 0.06);
    background-color: var(--Shade-White, #fff);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    line-height: 120%;
    width: 100%;
    padding: 20px 0;
}

@media (max-width: 991px) {
    .div-107 {
        margin-top: 29px;
    }
}

.img-16 {
    aspect-ratio: 1.75;
    object-fit: auto;
    object-position: center;
    width: 306px;
    border-radius: 50%;
    max-width: 100%;
}

.div-108 {
    color: #36f;
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    letter-spacing: -0.4px;
    margin-top: 32px;
    white-space: nowrap;
    font: 600 20px Inter, sans-serif;
}

@media (max-width: 991px) {
    .div-108 {
        white-space: initial;
    }
}

.div-109 {
    align-self: stretch;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    color: var(--Foundation-White-Darker, #595959);
    font-weight: 500;
    padding: 0 16px;
}

.div-110 {
    display: flex;
    width: 100%;
    padding-right: 13px;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    font-size: 12px;
    white-space: nowrap;
    letter-spacing: -0.24px;
}

@media (max-width: 991px) {
    .div-110 {
        white-space: initial;
    }
}

.div-111 {
    display: flex;
    gap: 12px;
}

@media (max-width: 991px) {
    .div-111 {
        white-space: initial;
    }
}

.div-112 {
    background-color: #ed4634;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.div-113 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
}

.div-114 {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

@media (max-width: 991px) {
    .div-114 {
        white-space: initial;
    }
}

.div-115 {
    background-color: #ffea3d;
    border-radius: 50%;
    align-self: start;
    width: 10px;
    height: 10px;
}

.div-116 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
}

.div-117 {
    display: flex;
    gap: 12px;
}

@media (max-width: 991px) {
    .div-117 {
        white-space: initial;
    }
}

.div-118 {
    background-color: #8ac446;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.div-119 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
}

.div-120 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    letter-spacing: -0.3px;
    margin-top: 36px;
    font: 600 15px Inter, sans-serif;
}

.div-121 {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    gap: 20px;
    font-size: 14px;
    color: var(--Foundation-Blue-Normal, #36f);
    white-space: nowrap;
    letter-spacing: -0.28px;
}

@media (max-width: 991px) {
    .div-121 {
        white-space: initial;
    }
}

.div-122 {
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-122 {
        white-space: initial;
    }
}

.div-123 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
}

.div-124 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 37px;
}

.div-125 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 34px;
}

.div-126 {
    color: var(--Foundation-White-Darker, #595959);
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    letter-spacing: -0.3px;
    margin-top: 38px;
    font: 600 15px Inter, sans-serif;
}

@media (max-width: 991px) {
    .div-126 {
        white-space: initial;
    }
}

.div-127 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 25px;
}

.div-128 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 37px;
}

.div-129 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 34px;
}

.div-130 {
    display: flex;
    flex-direction: column;
    text-align: right;
}

@media (max-width: 991px) {
    .div-130 {
        white-space: initial;
    }
}

.div-131 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
}

@media (max-width: 991px) {
    .div-131 {
        white-space: initial;
    }
}

.div-132 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 36px;
}

@media (max-width: 991px) {
    .div-132 {
        white-space: initial;
    }
}

.div-133 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 36px;
}

@media (max-width: 991px) {
    .div-133 {
        white-space: initial;
    }
}

.div-134 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 73px;
}

@media (max-width: 991px) {
    .div-134 {
        margin-top: 40px;
        white-space: initial;
    }
}

.div-135 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 36px;
}

@media (max-width: 991px) {
    .div-135 {
        white-space: initial;
    }
}

.div-136 {
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter, sans-serif;
    margin-top: 36px;
}

@media (max-width: 991px) {
    .div-136 {
        white-space: initial;
    }
}

.div-137 {
    margin-top: 24px;
}

@media (max-width: 991px) {
    .div-137 {
        max-width: 100%;
    }
}

.div-138 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-138 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 100%;
    margin-top: 15px;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-6 {
        width: 100%;
    }
}

.div-139 {
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(16, 25, 40, 0.05),
        0px 2px 7px 0px rgba(16, 25, 40, 0.05),
        0px 2px 5px -2px rgba(16, 25, 40, 0.06);
    background-color: var(--Shade-White, #fff);
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 19px 41px 19px 16px;
}

@media (max-width: 991px) {
    .div-139 {
        margin-top: 29px;
        padding-right: 20px;
    }
}

.div-140 {
    color: var(--Foundation-Blue-Normal, #36f);
    font: 600 16px Inter, sans-serif;
}

.div-141 {
    color: var(--Foundation-White-Darker, #595959);
    width: 80%;
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    margin-top: 16px;
    white-space: nowrap;
    font: 400 12px/145% Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
}

@media (max-width: 991px) {
    .div-141 {
        white-space: initial;
    }
}

.div-142 {
    display: flex;
    margin-top: 18px;
    padding-right: 80px;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-142 {
        padding-right: 20px;
    }
}

.img-17 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
}

.img-18 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
}

.column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-7 {
        width: 100%;
    }
}

.div-143 {
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(16, 25, 40, 0.05),
        0px 2px 7px 0px rgba(16, 25, 40, 0.05),
        0px 2px 5px -2px rgba(16, 25, 40, 0.06);
    background-color: var(--Shade-White, #fff);
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 19px 41px 19px 16px;
}

@media (max-width: 991px) {
    .div-143 {
        margin-top: 29px;
        padding-right: 20px;
    }
}

.div-144 {
    color: var(--Foundation-Blue-Normal, #36f);
    font: 600 16px Inter, sans-serif;
}

.div-145 {
    color: var(--Foundation-White-Darker, #595959);
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    margin-top: 16px;
    white-space: nowrap;
    font: 400 12px/145% Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
}

@media (max-width: 991px) {
    .div-145 {
        white-space: initial;
    }
}

.div-146 {
    display: flex;
    margin-top: 18px;
    padding-right: 80px;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-146 {
        padding-right: 20px;
    }
}

.img-19 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
}

.img-20 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
}

.column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-8 {
        width: 100%;
    }
}

.div-147 {
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(16, 25, 40, 0.05),
        0px 2px 7px 0px rgba(16, 25, 40, 0.05),
        0px 2px 5px -2px rgba(16, 25, 40, 0.06);
    background-color: var(--Shade-White, #fff);
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 19px 41px 19px 16px;
}

@media (max-width: 991px) {
    .div-147 {
        margin-top: 29px;
        padding-right: 20px;
    }
}

.div-148 {
    color: var(--Foundation-Blue-Normal, #36f);
    font: 600 16px Inter, sans-serif;
}

.div-149 {
    color: var(--Foundation-White-Darker, #595959);
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    margin-top: 16px;
    white-space: nowrap;
    font: 400 12px/145% Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
}

@media (max-width: 991px) {
    .div-149 {
        white-space: initial;
    }
}

.div-150 {
    display: flex;
    margin-top: 18px;
    padding-right: 80px;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-150 {
        padding-right: 20px;
    }
}

.img-21 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
}

.img-22 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
}

.div-151 {
    margin-top: 24px;
}

@media (max-width: 991px) {
    .div-151 {
        max-width: 100%;
    }
}

.div-152 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-152 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-9 {
        width: 100%;
    }
}

.div-153 {
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(16, 25, 40, 0.05),
        0px 2px 7px 0px rgba(16, 25, 40, 0.05),
        0px 2px 5px -2px rgba(16, 25, 40, 0.06);
    background-color: var(--Shade-White, #fff);
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 19px 41px 19px 16px;
}

@media (max-width: 991px) {
    .div-153 {
        margin-top: 29px;
        padding-right: 20px;
    }
}

.div-154 {
    color: var(--Foundation-Blue-Normal, #36f);
    font: 600 16px Inter, sans-serif;
}

.div-155 {
    color: var(--Foundation-White-Darker, #595959);
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    margin-top: 19px;
    white-space: nowrap;
    font: 400 12px/145% Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
}

@media (max-width: 991px) {
    .div-155 {
        white-space: initial;
    }
}

.div-156 {
    display: flex;
    margin-top: 18px;
    padding-right: 80px;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-156 {
        padding-right: 20px;
    }
}

.img-23 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
}

.img-24 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
}

.column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-10 {
        width: 100%;
    }
}

.div-157 {
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(16, 25, 40, 0.05),
        0px 2px 7px 0px rgba(16, 25, 40, 0.05),
        0px 2px 5px -2px rgba(16, 25, 40, 0.06);
    background-color: var(--Shade-White, #fff);
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 19px 41px 19px 16px;
}

@media (max-width: 991px) {
    .div-157 {
        margin-top: 29px;
        padding-right: 20px;
    }
}

.div-158 {
    color: var(--Foundation-Blue-Normal, #36f);
    font: 600 16px Inter, sans-serif;
}

.div-159 {
    color: var(--Foundation-White-Darker, #595959);
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    margin-top: 19px;
    white-space: nowrap;
    font: 400 12px/145% Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
}

@media (max-width: 991px) {
    .div-159 {
        white-space: initial;
    }
}

.div-160 {
    display: flex;
    margin-top: 18px;
    padding-right: 80px;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-160 {
        padding-right: 20px;
    }
}

.img-25 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
}

.img-26 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
}

.column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-11 {
        width: 100%;
    }
}

.div-161 {
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(16, 25, 40, 0.05),
        0px 2px 7px 0px rgba(16, 25, 40, 0.05),
        0px 2px 5px -2px rgba(16, 25, 40, 0.06);
    background-color: var(--Shade-White, #fff);
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 19px 41px 19px 16px;
}

@media (max-width: 991px) {
    .div-161 {
        margin-top: 29px;
        padding-right: 20px;
    }
}

.div-162 {
    color: var(--Foundation-Blue-Normal, #36f);
    font: 600 16px Inter, sans-serif;
}

.div-163 {
    color: var(--Foundation-White-Darker, #595959);
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    margin-top: 19px;
    white-space: nowrap;
    font: 400 12px/145% Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
}

@media (max-width: 991px) {
    .div-163 {
        white-space: initial;
    }
}

.div-164 {
    display: flex;
    margin-top: 18px;
    padding-right: 80px;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-164 {
        padding-right: 20px;
    }
}

.img-27 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
}

.img-28 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
}