.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    height: 70px;
    color: #000;
    svg{
        width: 30px;
        height: 30px;
    }
    .second_section {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        width: 100%;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .logout{
        cursor: pointer;
    }
    
    .nav_elements{
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        div{
            width: 100px;
        }
    }
    
    .username {
        width: 115px;
        font-size: 21px;
        font-weight: bold;
    }
    
    .profile-icon {
        margin-right: 30px;
        cursor: pointer;
    }
    
    .arrow-img {
        width: 30px;
        height: 30px;
        margin-left: 15px;
        cursor: pointer;
    }
    
}
